body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('images/łąka.png') no-repeat center center fixed; /* Image background */
    background-size: cover;
}

#garden {
    width: 100%;
    height: 100%;
    position: relative;
}

.flower {
    position: absolute;
    width: 50px;
    height: 50px;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
}
